{% extends 'main/basis.html' %}
{% load staticfiles %}
{% load dioeTags %}
{% load crispy_forms_tags %}
{% block title %} - Annotation{% endblock %}
{% block ueberschrift %} - Annotation{% endblock %}
{% block sitecss %}
{% endblock %}
{% block inhalt %}
<div style="overflow-x: auto">
	<br>
	<select onchange="javascript:location.href = '/annotationsdb/auswertung/' + this.value + '/{{ aTagEbene }}/0';">
		<option value="0"{% if aErhebung == 0 %} selected{% endif %}>Alle Erhebungen</option>
		{% for value in aErhebungen %}
			<option value="{{ value.pk }}"{% if aErhebung == value.pk %} selected{% endif %}>{{ value.title }}</option>
		{% endfor %}
	</select>
	<select onchange="javascript:location.href = '/annotationsdb/auswertung/{{ aErhebung }}/' + this.value + '/0';">
		<option value="0"{% if aTagEbene == 0 %} selected{% endif %}>Ebene auswählen</option>
		{% for value in tagEbenen %}
			<option value="{{ value.pk }}"{% if aTagEbene == value.pk %} selected{% endif %}>{{ value.title }} - {{ value.count }}</option>
		{% endfor %}
	</select>
	{% if aAuswertungen %}
		<b style="margin-left: 10px;">Treffer: {{ aCount }}</b> - {% if prev > -1 %}<a href="{% url 'AnnotationsDB:auswertung' aErhebung=aErhebung aTagEbene=aTagEbene aSeite=prev %}">Zurück</a>{% else %}Zurück{% endif %} - {% if next > -1 %}<a href="{% url 'AnnotationsDB:auswertung' aErhebung=aErhebung aTagEbene=aTagEbene aSeite=next %}">Weiter</a>{% else %}Weiter{% endif %}
	{% endif %}
	<br>
	{% if aAuswertungen %}
		<div style="margin-top: 8px;">
			<b>Export:</b><br>
			Kompletten Datensatz:
			<a href="{% url 'AnnotationsDB:auswertung' aErhebung=aErhebung aTagEbene=aTagEbene aSeite=0 %}?get=xls" data-toggle="tooltip" data-placement="top" title="Achtung kann zu groß sein, dann Error!">Als XLS herunterladen</a>
			{% if canMakeXlsx %}
				- <a href="{% url 'AnnotationsDB:auswertung' aErhebung=aErhebung aTagEbene=aTagEbene aSeite=0 %}?get=xlsfile" data-toggle="tooltip" data-placement="top" title="Für große Abfragen. Bitte nur einmal klicken!">XLS Datei am Server generieren</a>
			{% else %}
				- Rechte um XLS Datei am Server zu generieren fehlen! (Admin fragen!)
			{% endif %}
			<br>
			<button class="btn btn-xs btn-primary" style="margin: 8px 0;" type="button" data-toggle="collapse" data-target="#colErweitert" aria-expanded="false" aria-controls="colErweitert">XLS geteilt runterladen</button><br>
			<div class="collapse" id="colErweitert">
				<p>Seitenlänge festlegen (z.B. 1000 Zeilen je Seite; je Seitenzahl eimal klicken, XLS files später manuell zusammenkopieren.</p>
				Eintrag - Seite: <input id="xlsSeite" type="number" value="1" style="margin:0 1rem;width:10rem;"> Länge: <input id="xlsLaenge" type="number" value="1000" style="margin:0 1rem;width:10rem;">
				<button type="button" onclick="javascript:location.href = '{% url 'AnnotationsDB:auswertung' aErhebung=aErhebung aTagEbene=aTagEbene aSeite=0 %}?get=xls&xlsseite=' + $('#xlsSeite').val() + '&xlslaenge=' + $('#xlsLaenge').val();">XLS herunterladen</button>
			</div>
		</div>
		<br>
		<table class="table table-bordered" style="width: auto; max-width: inherit; min-width: 100%; white-space: nowrap;">
			<thead>
				<tr>
					<th>#</th>
					<th>Transkript</th>
					<th>tId</th>
					<th>tErh</th>
					<th>Informant</th>
					<th>iId</th>
					<th>iGebDatum</th>
					<th>iWeiblich</th>
					<th>iGruppe</th>
					<th>iOrt</th>
					<th>antId</th>
					<th>antType</th>
					<th>antKommentar</th>
					<th>aufId</th>
					<th>aufBe</th>
					<th>aufVar</th>
					<th>aufErh</th>
					<th>vorheriger Satz</th>
					<th>Sätze</th>
					<th>nächster Satz</th>
					<th>Sätze in Ortho</th>
					<th>Sätze in Ipa</th>
					<th>Ausgewählte Tokens</th>
					<th>text (lu)</th>
					<th>ortho</th>
					<th>phon</th>
					<th>Ausgewählte Tokens (Id)</th>
					<th>aTokensStart</th>
					<th>aTokensEnde</th>
					<th>{{ aAntTagsTitle }}</th>
					{% for nATT in nAntTagsTitle %}
						<th>{{ nATT.t }}</th>
					{% endfor %}
				</tr>
			</thead>
			<tbody>
			{% for auswertung in aAuswertungen %}
				<tr>
					<td>{{ auswertung.aNr }}</td>
					<td>{{ auswertung.aTrans }}</td>
					<td>{{ auswertung.aTransId }}</td>
					<td>{{ auswertung.aTransErhebung }}</td>
					<td>{{ auswertung.aInf }}</td>
					<td>{{ auswertung.aInfId }}</td>
					<td>{{ auswertung.aInfGebDatum }}</td>
					<td>{{ auswertung.aInfWeiblich }}</td>
					<td>{{ auswertung.aInfGruppe }}</td>
					<td>{{ auswertung.aInfOrt }}</td>
					<td>{{ auswertung.aAntwortId }}</td>
					<td>{{ auswertung.aAntwortType }}</td>
					<td>{{ auswertung.aAntwortKommentar }}</td>
					<td>{{ auswertung.aAufgabeId }}</td>
					<td>{{ auswertung.aAufgabeBeschreibung }}</td>
					<td>{{ auswertung.aAufgabeVariante }}</td>
					<td>{{ auswertung.aAufgabeErhebung }}</td>
					<td>{{ auswertung.vSatz }}</td>
					<td>{{ auswertung.aSaetze }}</td>
					<td>{{ auswertung.nSatz }}</td>
					<td>{{ auswertung.aOrtho }}</td>
					<td>{{ auswertung.aIpa }}</td>
					<td>{{ auswertung.aTokensFallback }}</td>
					<td>{{ auswertung.aTokensText }}</td>
					<td>{{ auswertung.aTokensOrtho }}</td>
					<td>{{ auswertung.aTokensPhon }}</td>
					<td>{{ auswertung.aTokens }}</td>
					<td>{{ auswertung.aTokensStart }}</td>
					<td>{{ auswertung.aTokensEnde }}</td>
					<td>{{ auswertung.aAntTags.t }}</td>
					{% for nATT in nAntTagsTitle %}
						<td>{% if nATT.i in auswertung.nAntTags %}{{ auswertung.nAntTags|get_item:nATT.i|get_item:'t' }}{% endif %}</td>
					{% endfor %}
				</tr>
			{% endfor %}
			</tbody>
		</table>
	{% endif %}
</div>
{% endblock %}
{% block sitejs %}
<script>
	$(function () {
	  $('[data-toggle="tooltip"]').tooltip()
	})
</script>
{% endblock %}
