<div class="form-horizontal">
	<div class="form-group" style="margin-top:10px">
		<label for="menue-mioe-ort" class="control-label col-sm-2" title="Mioe Ort">Ort</label>
		<div class="col-sm-10">
			<p class="form-control-static form-foreignkey clearfix">
				<span class="grey">Bitte auswaehlen</span>
				<i class="float-right">
					<button class="seleobj" data-appname="mioeDB" data-tabname="tbl_mioe_orte" data-obj-pk="0" title="Element in PopUp auswaehlen"><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span></button>
					<input type="hidden" id="menue-mioe-ort" value="0">
					<button class="viewobj hidden" data-appname="mioeDB" data-tabname="tbl_mioe_orte" data-obj-pk="0" title="Element in PopUp anzeigen" tabindex="9999"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></button>
					<button class="openobj hidden" data-appname="mioeDB" data-tabname="tbl_mioe_orte" data-obj-pk="0" title="Element in neuen Fenster anzeigen" tabindex="9999"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></button>
				</i>
			</p>
		</div>
		<div class="clearfix form-nl"></div>
	</div>
</div>
