{% extends 'main/basis.html' %}
{% load staticfiles %}
{% load dioeTags %}
{% load crispy_forms_tags %}
{% block sitecss %}
{% endblock %}
{% block title %} - Auswertung{% endblock %}
{% block ueberschrift %} - Auswertung{% endblock %}
{% block inhalt %}
<h2>Auswertung</h2>
<div style="overflow-x: auto">
	<form method="post">
		{% csrf_token %}
		<h4>Filter:</h4>
		<select onchange="javascript:this.form.submit()" name="jahr">
			<option value="0"{% if sJahr == '0' %} selected{% endif %}>Alle Jahre</option>
			{% for value in aJahre %}
				<option value="{{ value }}"{% if sJahr == value %} selected{% endif %}>{{ value }}</option>
			{% endfor %}
		</select>
		<select onchange="javascript:this.form.submit()" name="art">
			<option value="0"{% if sArt == 0 %} selected{% endif %}>Alle Arten</option>
			{% for value in aArten %}
				<option value="{{ value.id }}"{% if sArt == value.id %} selected{% endif %}>{{ value.txt }}</option>
			{% endfor %}
		</select>
		<label><input type="checkbox" name="hidefiltereddata" value="1" onchange="javascript:this.form.submit()"{% if hideFilteredData %} checked{% endif %}> Spalten filtern</label>
		<br>
		<select onchange="javascript:this.form.submit()" name="admlvl">
			<option value="0"{% if sAdmLvl == 0 %} selected{% endif %}>Alle Administrativen Einheiten</option>
			{% for value in aAdmLvl %}
				<option value="{{ value.id }}"{% if sAdmLvl == value.id %} selected{% endif %}>{{ value.txt }}</option>
			{% endfor %}
		</select>
		<br>
		<select onchange="javascript:this.form.submit()" name="hatergebniss">
			{% for value in aHatErgebnisse %}
				<option value="{{ value.v }}"{% if sHatErgebniss == value.v %} selected{% endif %}>{{ value.txt }}</option>
			{% endfor %}
		</select>
		<br>
		<!-- <code style="white-space: pre;">{{ test }}</code> -->
		<br>
		<b>Treffer: {{ aCount }}/{{ aMax }}</b> -
		{% if prev > -1 %}<button href="javascript:this.form.submit()" name="seite" value="{{ prev }}">Zurück</button>{% else %}Zurück{% endif %}
		- Seite {{ aSeiteP }}/{{ mSeiten }} -
		{% if next > -1 %}<button href="javascript:this.form.submit()" name="seite" value="{{ next }}">Weiter</button>{% else %}Weiter{% endif %} - <button name="xls" value="1">XLS</button><br>
		<br>
		<table class="table table-bordered" style="width: auto; max-width: inherit; min-width: 100%; white-space: nowrap; margin-bottom: 0;">
			<thead>
				<tr>
					<th>#</th>
					<th>id</th>
					<th>id_ort</th>
					<th>ort_name</th>
					<th>adm_lvl</th>
					<th>histor_ort</th>
					<th>ortlat</th>
					<th>ortlon</th>
					{% for avja in verfuegbareJahreArten %}
						<th>{{ avja.txt }}</th>
					{% endfor %}
				</tr>
			</thead>
			<tbody>
			{% for auswertung in aAuswertungen %}
				<tr>
					<td>{{ auswertung.nr }}</td>
					<td>{{ auswertung.id }}</td>
					<td>{{ auswertung.id_ort }}</td>
					<td>{{ auswertung.ort_name }}</td>
					<td>{{ auswertung.adm_lvl }}</td>
					<td>{{ auswertung.histor_ort }}</td>
					<td>{{ auswertung.ortlat }}</td>
					<td>{{ auswertung.ortlon }}</td>
					{% for avja in verfuegbareJahreArten %}
						<td>{{ auswertung.xdata|get_item:avja.id }}</td>
					{% endfor %}
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</form>
</div>
<br><br>
{% endblock %}
{% block sitejs %}
<script>
	var csrf = '{{ csrf_token }}';
	var aurl = '{{ aUrl }}';
	var viewurl = '/db/view/';
</script>
<script src="{% static "db/js/funktionen.js" %}?{% settings_value "CACH_RANDOM" %}"></script>
{% endblock %}
