<div id="aufgabencontent">
	{% if aVz and aMioeOrt %}
		<div id="antwortensbtns" class="form-inline">
			<button id="antwortensave" class="btn btn-success disabled" title="VZ Daten speichern!"><span class="glyphicon glyphicon-save" aria-hidden="true"></span> VZ Daten Speichern</button>
		</div>
	{% endif %}
	{% if aVz %}
		<h2>VZ: {{ aVz }} - ID: {{ aVz.pk }}</h2>
		<p>Ort: {{ aVz.id_ort }}</p>
	{% else %}
		<h2>VZ: Bitte auswählen!</h2>
	{% endif %}
	{% if aMioeOrt %}
		<h2>Ort: {{ aMioeOrt }} - ID: {{ aMioeOrt.pk }}</h2>
	{% else %}
		<h2>Ort: Bitte auswählen!</h2>
	{% endif %}
	{% if test %}<div class="alert alert-info alert-dismissible" style="margin-bottom:15px;"><button type="button" class="close" data-dismiss="alert" aria-label="Schließen"><span aria-hidden="true">&times;</span></button>{{ test|safe }}</div>{% endif %}
	{% if error %}<div class="alert alert-danger alert-dismissible" style="margin-bottom:15px;"><button type="button" class="close" data-dismiss="alert" aria-label="Schließen"><span aria-hidden="true">&times;</span></button>{{ error }}</div>{% endif %}
	<br>

	{% if aVz and aMioeOrt %}
		<div class="aufgabeantwort">
			<input type="hidden" id="id-vz" value="{{ aVz.pk|stringformat:"i" }}">
			<input type="hidden" id="id-mioe-ort" value="{{ aMioeOrt.pk|stringformat:"i" }}">
			<p>Datensätze: {{ vzDaten|length }} / {{ aArtenInVZ|length }}</p>
			<table class="w100 cp5">
				<tr>
					<th>Bezeichnung</th>
					<th>Anzahl</th>
					<th><span class="vzd-hide-abivz">Kommentar</span> <button id="vzd-show-abivz"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></button></th>
				</tr>
				{% for aArtInVZ in aArtenInVZ %}
					<tr class="vzd-line{% if aArtInVZ.model.id_art.id_varietaet %} vzd-varietaet{% endif %}{% if aArtInVZ.model.id_art.id_religion %} vzd-religion{% endif %}">
						<td>
							<input type="hidden" class="vzd-art" value="{{ aArtInVZ.model.id_art.pk|stringformat:"i" }}">
							<input type="hidden" class="vzd-daten-pk" value="{% firstof aArtInVZ.daten.models.0.pk|stringformat:"i" '0' %}">
							<span title="{{ aArtInVZ.model }} | Art: {{ aArtInVZ.model.id_art }} ID: {{ aArtInVZ.model.id_art.pk }}" class="{% if aArtInVZ.model.reihung == 1 %} underline{% endif %}">{% firstof aArtInVZ.model.bez aArtInVZ.model.id_art aArtInVZ.model %}</span>
							{% if aArtInVZ.daten.models|length == 0 %}<span title="Neu" class="vzd-daten-neu">Neu</span>{% endif %}
							{% if aArtInVZ.daten.models|length > 1 %}<span title="Fehler! Mehrere Datensätze vorhanden!" class="vzd-daten-fehler">Fehler</span>{% endif %}
						</td>
						<td>
							<input class="vzd-anzahl{% if aArtInVZ.model.reihung == 1 %} vzd-gesamt{% endif %} numberinput form-control" min="0" value="{% firstof aArtInVZ.daten.models.0.anzahl|stringformat:"i" '' %}" type="number" placeholder="Keine Eingabe vorhanden!">
						</td>
						<td>
							<input class="vzd-kommentar textinput form-control vzd-hide-abivz" value="{% firstof aArtInVZ.daten.models.0.kommentar '' %}" type="text" maxlength="255">
						</td>
					</tr>
					<div></div>
				{% endfor %}
			</table>
			<div id="statinfo" class="alert alert-info mib5 mit15">Statusinfo ...</div>
			{% comment %}
			{% for Antwort in Antworten %}
				<div class="antwort{% if Antwort.addIt %} vorlage{% endif %}" data-dg="{{ forloop.counter0 }}">
					<input type="hidden" name="antwort_pk" value="{{ Antwort.model.pk|default:0|stringformat:"i" }}">
					<table class="w100">
						<tr>
							{% if Aufgabe.Ergsatz_anf %}<td style="width:1px;white-space: nowrap;">{{ Aufgabe.Ergsatz_anf }}&nbsp;</td>{% endif %}
							<td><div class="form-group"><input type="text" style="" title="ist_Satz.Transkript" name="ist_Satz.Transkript" value="{{ Antwort.model.ist_Satz.Transkript }}" class="form-control" placeholder="Keine Eingabe vorhanden!"></div></td>
							{% if Aufgabe.Ergsatz_end %}<td style="width:1px;white-space: nowrap;">&nbsp;{{ Aufgabe.Ergsatz_end }}</td>{% endif %}
						</tr>
					</table>
					<br>
					<p><b>Kommentar:</b></p>
					<div class="form-group"><textarea class="form-control" title="kommentar" name="kommentar" rows="3" style="resize:vertical;" placeholder="Kommentar ...">{{ Antwort.model.Kommentar|default:"" }}</textarea></div>
					<div class="form-group">
						<label><input name="kontrolliert" type="checkbox"{% if Antwort.model.kontrolliert %} checked{% endif %}> kontrolliert</label> &nbsp;
						<label><input name="veroeffentlichung" type="checkbox"{% if Antwort.model.veroeffentlichung %} checked{% endif %}> veröffentlichung</label>
						<button title="Antwort löschen!" class="form-control btn btn-danger delantwort float-right" style="width:auto;" tabindex="-1"><span class="glyphicon glyphicon-trash" aria-hidden="true">
					</div>
					<hr>
				</div>
			{% endfor %}
			<button class="addantwort aa234"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Antwort</button>
			{% endcomment %}
		</div>
	{% endif %}
</div>
