<div id="antwortensbtns" class="form-inline">
	<button id="antwortensave" class="btn btn-success disabled" title="Antworten speichern!"><span class="glyphicon glyphicon-save" aria-hidden="true"></span> Antworten Speichern</button>
</div>
<h2>{{ Aufgabe }}</h2>
{% for aAntwortmoeglichkeit in Aufgabe.tbl_antwortmoeglichkeiten_set.all %}
	{% if not aAntwortmoeglichkeit.frei %}
	<div>
		<b>{{ aAntwortmoeglichkeit.Kuerzel }}</b> {{ aAntwortmoeglichkeit.vorg_satz_sd }}
	</div>
	{% endif %}
{% endfor %}
