{% extends 'main/basis.html' %}
{% load staticfiles %}
{% load dioeTags %}
{% block title %} - Startseite{% endblock %}
{% block ueberschrift %} - Startseite{% endblock %}
{% block inhalt %}
	<br><br>
	<div class="row">
		<div class="col-md-9">
			<h2>Übersicht</h2>
			<br>
			{% navbarMaker as navbar %}
			<ul>
			{% for value in navbar %}
				<li{% if value.class %} class="{{ value.class }}"{% endif %}>
					{% if not value.url == "#" %}
					<a href="{{ value.url }}"{% if value.aclass %} class="{{ value.aclass }}"{% endif %}{% if value.target %} target="{{ value.target }}"{% endif %}>{{ value.titel }}</a>
					{% else %}
					{{ value.titel }}
					{% endif %}
					{% if value.sub %}
						<ul>
						{% for svalue in value.sub %}
							<li{% if svalue.class %} class="{{ svalue.class }}"{% endif %}>
							{% if not svalue.url == "#" %}
							<a href="{{ svalue.url }}"{% if svalue.aclass %} class="{{ svalue.aclass }}"{% endif %}{% if svalue.target %} target="{{ svalue.target }}"{% endif %}>{{ svalue.titel }}</a>
							{% else %}
							{{ svalue.titel }}
							{% endif %}
							</li>
						{% endfor %}
						</ul>
					{% endif %}
				</li>
			{% endfor %}
			</ul>
		</div>
		<div class="col-md-3">
			<p><a href="https://calendar.google.com/calendar/embed?src=termine%40dioe.at&ctz=Europe/Vienna" target="_blank">Zum Google Kalender</a></p>
			{% if gc_notOK > 0 %}
			<div class="alert alert-warning">
				<p>Es wurden {{ gc_notOK }} Termine nicht erfolgreich in Google Kalender übertragen!</p>
				<br>
				<p class="text-right"><a href="{% url 'PersonenDB:gcupdate' %}" target="_blank">Erneut versuchen!</a></p>
			</div>
			{% endif %}
			<p title="Basierend auf Aktivitäten der letzen 5 Minuten!{% if userOnlineWho %}
{% for aUser in userOnlineWho %}- {{ aUser.model.user }} ({{ aUser.timer }} Sekunden)
{% endfor %}" class="cur-help{% endif %}">User Online: {{ userOnlineCount }}</p>
		</div>
	</div>
	<br><br><br>
{% endblock %}
