<div id="aufgabencontent">
	{% if aInst %}
		<div id="antwortensbtns" class="form-inline">
			<button id="antwortensave" class="btn btn-success disabled" title="INST Daten speichern!"><span class="glyphicon glyphicon-save" aria-hidden="true"></span> INST Daten Speichern</button>
		</div>
	{% endif %}
	{% if aInst %}
		<h2>INST: {{ aInst }} - ID: {{ aInst.pk }}</h2>
		<p>Ort: {{ aInst.id_ort }}</p>
	{% else %}
		<h2>INST: Bitte auswählen!</h2>
	{% endif %}
	{% if test %}<div class="alert alert-info alert-dismissible" style="margin-bottom:15px;"><button type="button" class="close" data-dismiss="alert" aria-label="Schließen"><span aria-hidden="true">&times;</span></button>{{ test|safe }}</div>{% endif %}
	{% if error %}<div class="alert alert-danger alert-dismissible" style="margin-bottom:15px;"><button type="button" class="close" data-dismiss="alert" aria-label="Schließen"><span aria-hidden="true">&times;</span></button>{{ error }}</div>{% endif %}
	<br>

	{% if aInst %}
		<div class="aufgabeantwort">
			<input type="hidden" id="id-inst" value="{{ aInst.pk|stringformat:"i" }}">
			<p>Datensätze: {{ instDaten|length }} / {{ aArtenInQuelle|length }}</p>
			<table class="w100 cp5">
				<tr>
					<th>Bezeichnung</th>
					<th>Anzahl</th>
					<th><span class="instd-hide-abiinst">Kommentar</span> <button id="instd-show-abiinst"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></button></th>
				</tr>
				{% for aArtInQUELLE in aArtenInQuelle %}
					<tr class="instd-line{% if aArtInQUELLE.model.id_art.id_varietaet %} instd-varietaet{% endif %}{% if aArtInQUELLE.model.id_art.id_religion %} instd-religion{% endif %}">
						<td>
							<input type="hidden" class="instd-art" value="{{ aArtInQUELLE.model.id_art.pk|stringformat:"i" }}">
							<input type="hidden" class="instd-daten-pk" value="{% firstof aArtInQUELLE.daten.models.0.pk|stringformat:"i" '0' %}">
							<span title="{{ aArtInQUELLE.model }} | Art: {{ aArtInQUELLE.model.id_art }} ID: {{ aArtInQUELLE.model.id_art.pk }}" class="{% if aArtInQUELLE.model.reihung == 1 %} underline{% endif %}">{% firstof aArtInQUELLE.model.bez aArtInQUELLE.model.id_art aArtInQUELLE.model %}</span>
							{% if aArtInQUELLE.daten.models|length == 0 %}<span title="Neu" class="instd-daten-neu">Neu</span>{% endif %}
							{% if aArtInQUELLE.daten.models|length > 1 %}<span title="Fehler! Mehrere Datensätze vorhanden!" class="instd-daten-fehler">Fehler</span>{% endif %}
						</td>
						<td>
							<input class="instd-anzahl{% if aArtInQUELLE.model.reihung == 1 %} instd-gesamt{% endif %} numberinput form-control" min="0" value="{% firstof aArtInQUELLE.daten.models.0.anzahl|stringformat:"i" '' %}" type="number" placeholder="Keine Eingabe vorhanden!">
						</td>
						<td>
							<input class="instd-kommentar textinput form-control instd-hide-abiinst" value="{% firstof aArtInQUELLE.daten.models.0.kommentar '' %}" type="text" maxlength="255">
						</td>
					</tr>
					<div></div>
				{% endfor %}
			</table>
			<div id="statinfo" class="alert alert-info mib5 mit15">Statusinfo ...</div>
			{% comment %}
			{% for Antwort in Antworten %}
				<div class="antwort{% if Antwort.addIt %} vorlage{% endif %}" data-dg="{{ forloop.counter0 }}">
					<input type="hidden" name="antwort_pk" value="{{ Antwort.model.pk|default:0|stringformat:"i" }}">
					<table class="w100">
						<tr>
							{% if Aufgabe.Ergsatz_anf %}<td style="width:1px;white-space: nowrap;">{{ Aufgabe.Ergsatz_anf }}&nbsp;</td>{% endif %}
							<td><div class="form-group"><input type="text" style="" title="ist_Satz.Transkript" name="ist_Satz.Transkript" value="{{ Antwort.model.ist_Satz.Transkript }}" class="form-control" placeholder="Keine Eingabe vorhanden!"></div></td>
							{% if Aufgabe.Ergsatz_end %}<td style="width:1px;white-space: nowrap;">&nbsp;{{ Aufgabe.Ergsatz_end }}</td>{% endif %}
						</tr>
					</table>
					<br>
					<p><b>Kommentar:</b></p>
					<div class="form-group"><textarea class="form-control" title="kommentar" name="kommentar" rows="3" style="resize:vertical;" placeholder="Kommentar ...">{{ Antwort.model.Kommentar|default:"" }}</textarea></div>
					<div class="form-group">
						<label><input name="kontrolliert" type="checkbox"{% if Antwort.model.kontrolliert %} checked{% endif %}> kontrolliert</label> &nbsp;
						<label><input name="veroeffentlichung" type="checkbox"{% if Antwort.model.veroeffentlichung %} checked{% endif %}> veröffentlichung</label>
						<button title="Antwort löschen!" class="form-control btn btn-danger delantwort float-right" style="width:auto;" tabindex="-1"><span class="glyphicon glyphicon-trash" aria-hidden="true">
					</div>
					<hr>
				</div>
			{% endfor %}
			<button class="addantwort aa234"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Antwort</button>
			{% endcomment %}
		</div>
	{% endif %}
</div>
