tbl_institutionen<div class="form-horizontal">
	<div class="form-group" style="margin-top:10px">
		<div class="col-sm-12">
			<p class="form-control-static form-foreignkey clearfix">
				<span title="Mioe Volkszählung">Bitte Mioe Institution auswählen</span>
				<i class="float-right">
					<button class="seleobj" data-appname="mioeDB" data-tabname="tbl_institutionen" data-obj-pk="0" title="Element in PopUp auswaehlen"><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span></button>
					<input type="hidden" id="menue-mioe-inst" value="0">
					<button class="viewobj hidden" data-appname="mioeDB" data-tabname="tbl_institutionen" data-obj-pk="0" title="Element in PopUp anzeigen" tabindex="9999"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></button>
					<button class="openobj hidden" data-appname="mioeDB" data-tabname="tbl_institutionen" data-obj-pk="0" title="Element in neuen Fenster anzeigen" tabindex="9999"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></button>
				</i>
			</p>
		</div>
	</div>
</div>
