#d3Diagramm {
	position: relative;
	margin-top: 30px;
	width: 100%;
	height: calc(100vh - 120px);
	border: 1px solid #ddd;
}

#diagrammSpeichern, #diagrammZentrieren {
  position: absolute;
  right: 10px;
  bottom: 10px;
  border: none;
  background: #eef;
  font-size: 12px;
}
#diagrammSpeichern:hover, #diagrammZentrieren:hover {
	background: #ddf;
}
#diagrammSpeichern.loading {
  background: #ccc;
  color: #888;
}
#diagrammZentrieren {
	bottom: inherit;
	top: 10px;
	padding: 6px 8px;
}

#d3svg {
	width:100%;
	height:100%;
}
.d3TabelleTitel {
  font-weight: bold;
  cursor: all-scroll;
}
.d3TabelleFelder {
  font-size: 14px;
	cursor: pointer;
}
.d3Tabelle>rect {
  fill: #eee;
  stroke: #333;
  stroke-width: 1;
}
.d3TabelleTitel>rect {
  fill: #ddd;
}
.d3Tabelle:hover .d3TabelleTitel>rect {
  fill: #cce;
}
.d3Tabelle .d3TabelleTitel:hover>rect {
  fill: #aaf;
}
.d3TabelleFelder>rect {
	fill: transparent;
}
.d3TabelleFelder:hover>rect {
	fill: #ddf;
}
#d3Tabellen .line {
	stroke: #333;
	stroke-width: 5px;
	fill: none;
	stroke-opacity: 0.3;
}

#d3Tabellen .line.vonTabelle {
	stroke: #33e;
	stroke-opacity: 1;
}
#d3Tabellen .line.zuTabelle {
	stroke: #3e3;
	stroke-opacity: 1;
}
#d3Tabellen .line.aktivesFeld {
	stroke: #e33;
	stroke-opacity: 1;
}
.d3TabelleFelder.zeigendesFeld>rect {
	fill: #fdd;
}
.d3Tabelle.zeigendeTabelle .d3TabelleTitel>rect {
  fill: #fdd;
}
.d3Tabelle.zielTabelle .d3TabelleTitel>rect {
  fill: #fdd;
}

.tooltip.in {
    opacity: 1;
}
.tooltip.right .tooltip-arrow {
    border-right-color: #eef;
}
.tooltip-inner {
    text-align: left;
    max-width: 400px;
    padding: 8px 9px;
    background-color: #eef;
    color: #333;
}
