<h4>Verzeichniss:</h4>
<select class="select form-control" id="csv-select-tree" name="csv-select-tree">
	{% for aOption in tree %}
		<option value="{{ aOption.value }}"{% if aOption.value == csvSelDir %} selected="selected"{% endif %}>{{ aOption.title|safe }}</option>
	{% endfor %}
</select>
<h4>Datei:</h4>
<select class="select form-control" id="csv-select-file" name="csv-select-file">
	<option value="">Auswählen ...</option>
	{% for aOption in files %}
		<option value="{{ aOption.value }}"{% if aOption.value == csvSelFile %} selected="selected"{% endif %}>{{ aOption.title|safe }}</option>
	{% endfor %}
</select>
{% if csvSelFile %}
<hr>
{% for key,val in csvSelFileData.items %}
<b>{{ key }}:</b> {{ val }}<br>
{% endfor %}
{% endif %}
