{% extends 'main/basis.html' %}
{% load staticfiles %}
{% load dioeTags %}
{% load crispy_forms_tags %}
{% block sitecss %}<link href="{% static "korpusdb/css/csv.css" %}?{% settings_value "CACH_RANDOM" %}" rel="stylesheet">{% endblock %}
{% block title %} - Maske{% endblock %}
{% block ueberschrift %} - Maske{% endblock %}
{% block inhalt %}
<div class="row h100">
	<div class="col-md-3 h100 mh200px vscroller csvselectcol">
		{% include "korpusdb/csv_selectcol.html" %}
	</div>
	<div class="col-md-9 h100 mh600px" style="border-right:1px solid #eee;padding:0px;"><div class="h100 mcon vscroller">
		{% if info %}<div class="alert alert-info">{{ info|safe }}</div>{% endif %}
		{% if error %}<div class="alert alert-danger">{{ error|safe }}</div>{% endif %}

		{% if csvData %}
			<h3>{{ csvSelFile }} <button class="show-hide-unused-cols" title="Erweiterte Ansicht an/aus"><span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span></button></h3>
			<br>
			<table class="table table-bordered table-hover hide-unused-cols">
				<thead class="table-nowrap">
	        <tr>
						<th class="coluse">#</th>
						{% for cell in csvData.colDef %}
							{% with colError=csvData.colError|get_item:cell %}
								<th class="{% if cell in csvData.colUse %}coluse{% if colError %} danger{% else %} success{% endif %}{% endif %}" {% if colError %} title="{% for key,aError in colError.items %}{{aError}}&#13;{% endfor %}"{% endif %}>{{ cell }}</th>
							{% endwith %}
						{% endfor %}
					</tr>
	      </thead>
			{% for row in csvData.dispRows %}
				<tr>
					<td class="coluse">{{ row.nr }}</td>
					{% for aCellDef in csvData.colDef %}
						{% with cell=row.cols|get_item:aCellDef %}
							<td{% if aCellDef in csvData.colUse %} class="coluse{% if cell.error %} danger{% endif %}"{% endif %} title="{{ aCellDef }}{% if 'orgValue' in cell %} - Original Wert: '{{ cell.orgValue }}'{% endif %}{% if cell.conTable %} - Verbundene Tabelle: {{ cell.conTable }}{% endif %}{% if cell.error %}&#13;{{ cell.error }}{% endif %}">
								{{ cell.value }}
							</td>
						{% endwith %}
					{% endfor %}
				</tr>
			{% endfor %}
			<tr><td>...</td>{% for cell in csvData.colDef %}<td>...</td>{% endfor %}</tr>
			</table>
		{% endif %}

	</div></div>
</div>
<style>
	html,body,body>.container { height:100%; }
</style>
{% endblock %}
{% block sitejs %}
<script>
	var csrf='{{ csrf_token }}';
	var audiodir = '{% settings_value "AUDIO_URL" %}';
</script>
<script src="{% static "korpusdb/js/csv.js" %}?{% settings_value "CACH_RANDOM" %}"></script>
{% endblock %}
