<div class="dateien" data-verzeichniss="{{ verzeichniss }}">
	<div class="dateientopline clearfix">
		<h4>Dateien:</h4>
		{% if permission > 2 %}<button class="dateien-neuesverzeichniss" title="Verzeichniss hinzufügen"><span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span></button>{% endif %}
		{% if permission > 1 %}<button class="dateien-hochladen" title="Datei hochladen"><span class="glyphicon glyphicon-upload" aria-hidden="true"></span> </button>{% endif %}
	</div>
	<br>
	{% if dateien and permission > 0 %}
		<div class="dateienliste">
			<div class="row">
				{% for datei in dateien %}
					<div class="col-md-3"><div class="fileobject">
						<a class="filelink" href="{{ datei.link }}" target="_blank" data-file-fullpath="{{ datei.fullpath }}" data-file-type="{{ datei.type }}">
							{% if datei.prvImg %}
								<img src="{{ datei.prvImg }}" class="img-responsive w100">
							{% endif %}
							<span class="filetype">{{ datei.type }}</span><span class="filesize">{{ datei.size|filesizeformat }}</span>
						</a>
						{{ datei.name }}<br>
						{{ datei.lmod|date:"d.m.Y" }} - {{ datei.lmod|time:"H:i.s" }} Uhr
					</div><br></div>
					{% if forloop.counter|divisibleby:4 %}</div><div class="row">{% endif %}
				{% endfor %}
			</div>
		</div>
	{% else %}
		<div>Keine Dateien</div>
	{% endif %}
</div>
