<div id="antwortensbtns" class="form-inline">
	<button id="antwortensave" class="btn btn-success disabled" title="Antworten speichern!"><span class="glyphicon glyphicon-save" aria-hidden="true"></span> Antworten Speichern</button>
</div>
<h2>{{ Informant.inf_sigle }} - {{ Aufgabe }}</h2>
<p><b>Aufgabe:</b> ID: <b>{{ Aufgabe.pk }}</b> -  Aufgabenset: <b>{{ Aufgabe.von_ASet }}</b> -  Variante: <b>{{ Aufgabe.Variante }}</b> - Aufgabenart: <b>{{ Aufgabe.Aufgabenart }}</b> -  Dialekt: <b>{{ Aufgabe.ist_dialekt|yesno:'Ja,Nein' }}</b> - Beschreibung: <b>{{ Aufgabe.Beschreibung_Aufgabe }}</b></p>
{% if test %}<div class="alert alert-info alert-dismissible" style="margin-bottom:15px;"><button type="button" class="close" data-dismiss="alert" aria-label="Schließen"><span aria-hidden="true">&times;</span></button>{{ test|safe }}</div>{% endif %}
{% if error %}<div class="alert alert-danger alert-dismissible" style="margin-bottom:15px;"><button type="button" class="close" data-dismiss="alert" aria-label="Schließen"><span aria-hidden="true">&times;</span></button>{{ error }}</div>{% endif %}

<div class="aufgabeantwort">
	<input type="hidden" name="von_Inf" value="{{ Informant.pk|stringformat:"i" }}">
	<input type="hidden" name="zu_Aufgabe" value="{{ Aufgabe.pk|stringformat:"i" }}">
	<input type="hidden" name="Aufgabenart" value="{{ Aufgabe.Aufgabenart.pk|stringformat:"i" }}">
	{% if Aufgabe.Kontext %}<p><b>Kontext:</b> {{ Aufgabe.Kontext }}</p>{% endif %}
	{% if Aufgabe.Aufgabenstellung %}<p><b>Aufgabenstellung:</b> {{ Aufgabe.Aufgabenstellung }}</p>{% endif %}
	{% if Aufgabe.Aufgabenart.pk == 1 %}
		<table class="tdtop w100">
			<tr><th colspan="2">Frage:&nbsp;</th><th class="text-center" title="Ist gewählt">ge.</th><th class="text-center" title="Ist NAT">NAT</th><th class="text-center" title="kontrolliert / veröffentlichung">K/V</th></tr>
			{% for value in AufgabenMitAntworten %}
				<tr class="antwortmoeglichkeiten-line" data-aufgabenm-pk="{{ value.model.pk|stringformat:"i" }}" data-antworten-pk="{{ value.antwort.pk|default:0|stringformat:"i" }}">
					<td><b title="Antwortmöglichkeiten-ID: {{ value.model.pk|stringformat:"i" }}, Antworten-ID: {{ value.antwort.pk|default:0|stringformat:"i" }}">{{ value.model.Kuerzel }}&nbsp;</b></td>
					<td>{% if value.model.frei %}
						<div class="form-group"><input type="text" style="width:95%;" title="ist_Satz.Transkript" name="ist_Satz.Transkript" value="{{ value.antwort.ist_Satz.Transkript }}" class="form-control" placeholder="Keine Eingabe vorhanden!"></div>
						<div class="form-group"><textarea class="form-control" title="kommentar" name="kommentar" style="width:95%;" rows="3" placeholder="Kommentar ...">{{ value.antwort.Kommentar }}</textarea></div>
						{% else %}{{ value.model.vorg_satz_sd }}{% endif %}&nbsp;</td>
					<td class="text-center">
						<div class="form-group">
							<input type="checkbox" name="ist_gewaehlt" class="bigcheck" title="ist_gewaehlt" value=""{% if value.antwort.ist_gewaehlt %} checked{% endif %}>
						</div>
					</td>
					<td class="text-center">
						<div class="form-group">
							<input type="checkbox" name="ist_nat" class="bigcheck" title="ist_nat" value=""{% if value.antwort.ist_nat %} checked{% endif %}>
						</div>
					</td>
					<td class="text-center">
						<div class="form-group">
							<input type="checkbox" name="kontrolliert" title="kontrolliert" value=""{% if value.antwort.kontrolliert %} checked{% endif %}> &nbsp;
							<input type="checkbox" name="veroeffentlichung" title="veroeffentlichung" value=""{% if value.antwort.veroeffentlichung %} checked{% endif %}>
						</div>
					</td>
				</tr>
			{% endfor %}
		</table>
	{% else %}
		<p><b>Aufgabenart {{ Aufgabe.Aufgabenart }} ({{ Aufgabe.Aufgabenart.pk|stringformat:"i" }}) ist unbekannt!</b></p>
	{% endif %}
</div>
