<div id="antwortensbtns" class="form-inline">
	<button id="antwortensave" class="btn btn-success disabled" title="Antworten speichern!"><span class="glyphicon glyphicon-save" aria-hidden="true"></span> Antworten Speichern</button>
</div>
<h2>{{ Informant.inf_sigle }} - {{ Aufgabe }}</h2>
<p><b>Aufgabe:</b> ID: <b>{{ Aufgabe.pk }}</b> -  Aufgabenset: <b>{{ Aufgabe.von_ASet }}</b> -  Variante: <b>{{ Aufgabe.Variante }}</b> -  Dialekt: <b>{{ Aufgabe.ist_dialekt|yesno:'Ja,Nein' }}</b> - Beschreibung: <b>{{ Aufgabe.Beschreibung_Aufgabe }}</b>{% if Aufgabe.Aufgabenstellung %}<br>Aufgabenstellung: <b>{{ Aufgabe.Aufgabenstellung }}</b>{% endif %}</p>
{% if test %}<div class="alert alert-info alert-dismissible" style="margin-bottom:15px;"><button type="button" class="close" data-dismiss="alert" aria-label="Schließen"><span aria-hidden="true">&times;</span></button>{{ test|safe }}</div>{% endif %}
{% if error %}<div class="alert alert-danger alert-dismissible" style="margin-bottom:15px;"><button type="button" class="close" data-dismiss="alert" aria-label="Schließen"><span aria-hidden="true">&times;</span></button>{{ error }}</div>{% endif %}
{% for value in Antworten %}
	<div class="{% if value.model.pk %}antwort{% else %}antwortenvorlage{% endif %}">
		<input type="hidden" name="id_Antwort" value="{{ value.model.pk|default:0|stringformat:"i" }}">
		<input type="hidden" name="von_Inf" value="{{ Informant.pk|stringformat:"i" }}">
		<input type="hidden" name="zu_Aufgabe" value="{{ Aufgabe.pk|stringformat:"i" }}">
		<div class="form-inline smir10">
			<div class="form-group"><div class="form-control-static" style="position:relative;"><b title="pk: {{ value.model.pk|default:0 }}"><input type="hidden" name="reihung" value="{{ value.model.Reihung|default:0 }}"><span class="areihung">{{ value.model.Reihung|default:0 }}</span>. Antwort:</b><button class="antwortreihunghoch"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></button><button class="antwortreihungrunter"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></button></div></div>
			<div class="checkbox"><label><input name="ist_bfl" type="checkbox"{% if value.model.ist_bfl %} checked{% endif %}> beeinflusst</label></div>
			<div class="form-group"><label>start:</label><input type="text" class="form-control" name="start_Antwort" value="{{ value.model.start_Antwort|default:'' }}" placeholder="00:00:00.000000" size="14"></div>
			<div class="form-group"><label>stop:</label><input type="text" class="form-control" name="stop_Antwort" value="{{ value.model.stop_Antwort|default:'' }}" placeholder="00:00:00.000000" size="14"></div>
			<div class="form-group"><label>komm.:</label><input type="text" class="form-control" name="Kommentar" value="{{ value.model.Kommentar|default:'' }}" placeholder="Kommentar" size="80"></div>
			<div class="checkbox"><label><input name="kontrolliert" type="checkbox"{% if value.model.kontrolliert %} checked{% endif %}> kontrolliert</label></div>
			<div class="checkbox"><label><input name="veroeffentlichung" type="checkbox"{% if value.model.veroeffentlichung %} checked{% endif %}> veröffentlichung</label></div>
			<button title="Antwort löschen!" class="form-control pull-right btn btn-danger delantwort" tabindex="-1"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
		</div>
		<hr>
		<div class="row">
			<div class="col-sm-8 form-horizontal ist_bfl_lf">
				<input type="hidden" name="ist_Satz_pk" value="{{ value.model.ist_Satz.pk|stringformat:"i"|default:0 }}">
				<div class="form-group">
					<label class="col-sm-3 control-label">standard</label>
					<div class="col-sm-9"><input type="text" class="form-control" name="ist_Satz_Standardorth" value="{{ value.model.ist_Satz.Standardorth|default:'' }}"></div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">transkript</label>
					<div class="col-sm-9"><input type="text" class="form-control" name="ist_Satz_Transkript" value="{{ value.model.ist_Satz.Transkript|default:'' }}"></div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">IPA-Transkript</label>
					<div class="col-sm-9"><input type="text" class="form-control" name="ist_Satz_ipa" value="{{ value.model.ist_Satz.ipa|default:'' }}" data-ipa="true"></div>
				</div>
			</div>
			<div class="col-sm-4 form ist_bfl_rf">
				<textarea class="form-control" rows="2" placeholder="Nachfrage" name="bfl_durch_S">{{ value.model.bfl_durch_S|default:'' }}</textarea>
			</div>
		</div>
		<div class="form-horizontal tag-forms">
			{% for tvalue in value.xtags %}
				<div class="form-group tag-line">
					<label class="col-sm-2 control-label">
						<select class="tagebene w100">
							<option value="0">Ebene auswählen (Löschen)</option>
							{% for kvalue in TagEbenen %}<option value="{{ kvalue.pk|stringformat:"i" }}"{% if tvalue.ebene.0.pk == kvalue.pk %} selected{% endif %}>{{ kvalue }}</option>{% endfor %}
						</select>
					</label>
					<div class="col-sm-10"><div class="form-control-static reihung-tags">
						<div class="r-tag-familie r-tag-familie-pchilds" data-generation="None" data-pk="0">
							{% for tvalue in tvalue.tags %}
								{% with ''|rjust:tvalue.pClose as range %}
									{% for _ in range %}
										</div>
									{% endfor %}
								{% endwith %}
								<div class="r-tag-familie{% if tvalue.pChilds %} r-tag-familie-pchilds{% endif %}" data-generation="{{ tvalue.aTag.id_Tag.Generation|stringformat:"i"|default:'None' }}" data-pk="{{ tvalue.aTag.id_Tag.pk|stringformat:"i" }}">
									<button class="ant-tag" data-id_Tag="{{ tvalue.aTag.id_Tag.pk|stringformat:"i" }}" data-pk="{{ tvalue.aTag.pk|stringformat:"i" }}">{{ tvalue.aTag.id_Tag.Tag }}</button>
								{% if forloop.last %}
									{% with ''|rjust:tvalue.aGen as range %}
										{% for _ in range %}
											</div>
										{% endfor %}
									{% endwith %}
								{% endif %}
							{% endfor %}
							</div>
						</div>
						<button class="ant-ctag"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></button>
					</div></div>
				</div>
			{% endfor %}
			<div class="form-group add-tag-line-line">
				<div class="col-sm-2"><button class="add-tag-line"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Tag-Ebene</button></div>
			</div>
			<div class="tag-vorlage hidden">
				<div class="form-group tag-line" style="background-color:#fdd;">
					<label class="col-sm-2 control-label">
						<select class="tagebene w100">
							<option value="0">Ebene auswählen (Löschen)</option>
							{% for kvalue in TagEbenen %}<option value="{{ kvalue.pk|stringformat:"i" }}">{{ kvalue }}</option>{% endfor %}
						</select>
					</label>
					<div class="col-sm-10"><div class="form-control-static reihung-tags">
						<div class="r-tag-familie r-tag-familie-pchilds" data-generation="None" data-pk="0"></div>
						<button class="ant-ctag"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></button>
					</div></div>
				</div>
			</div>
		</div>
	</div>
{% endfor %}
<div class="text-center"><button id="addantwort"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Antwort</button></div>
<div id="xtags" class="tags">
<button class="ptagsbtn ptagsd0 ptagsleft tagscontrol" title="Aktuellen Tag löschen" tabindex="-1"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></button>
<button class="ptagsbtn ptagsd0 ptagsdel tagscontrol" data-pk="0" title="Aktuellen Tag löschen" tabindex="-1"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
<button class="ptagsbtn ptagsd0 ptagsright tagscontrol" title="Aktuellen Tag löschen" tabindex="-1"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
<br class="tagscontrol">
{% for tvalue in TagsList %}
	{%with acount=0 %}
		{%include "korpusdbmaske/start_formular_tags.html" %}
	{%endwith%}
{% endfor %}
</div>
<div id="pretags" class="tags">
{% for pTag in PresetTags %}
{% spaceless %}
	<div><button class="pretagsbtn ptagsd0" data-ebenen="{% for aebene in pTag.model.sys_tagebenezupresettags_set.all %}{% if not forloop.first %},{% endif %}{{ aebene.id_TagEbene.pk }}{%endfor%}"
	data-html="{% for tvalue in pTag.tagfamilie %}{% with ''|rjust:tvalue.pClose as range %}{% for _ in range %}</div>{% endfor %}{% endwith %}<div class=\u0022r-tag-familie{% if tvalue.pChilds %} r-tag-familie-pchilds{% endif %}\u0022 data-generation=\u0022{{ tvalue.aTag.Generation|stringformat:"i"|default:'None' }}\u0022 data-pk=\u0022{{ tvalue.aTag.pk|stringformat:"i" }}\u0022><button class=\u0022ant-tag\u0022 data-id_Tag=\u0022{{ tvalue.aTag.pk|stringformat:"i" }}\u0022 data-pk=\u00220\u0022>{{ tvalue.aTag.Tag|escapejs }}</button>{% if forloop.last %}{% with ''|rjust:tvalue.aGen as range %}{% for _ in range %}</div>{% endfor %}{% endwith %}{% endif %}{% endfor %}</div>"
	>{{ pTag.model}} ({% for tvalue in pTag.tagfamilie %}{{ tvalue.aTag.Tag }}{% if not forloop.last %}, {% endif %}{% endfor %})</button></div>
{% endspaceless %}
{% endfor %}
</div>
