{% extends 'main/basis.html' %}
{% load staticfiles %}
{% load dioeTags %}
{% load crispy_forms_tags %}
{% block sitecss %}<link href="{% static "korpusdbmaske/css/style.css" %}?{% settings_value "CACH_RANDOM" %}" rel="stylesheet">{% endblock %}
{% block title %} - Maske{% endblock %}
{% block ueberschrift %} - Maske{% endblock %}
{% block inhalt %}
<br>
<br>
<table class="table table-bordered table-hover">
{% for line in lines %}
	<tr>{% for col in line %}<td>{{ col|safe }}</td>{% endfor %}</tr>
{% endfor %}
</table>
<style>
	html,body,body>.container { height:100%; }
</style>
{% endblock %}
{% block sitejs %}
<script>
	var csrf='{{ csrf_token }}';
</script>
{% endblock %}
