{% extends "main/basis.html" %}
{% load crispy_forms_tags %}
{% block title %}Anmeldung{% endblock %}
{% block inhalt %}
<br><br>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Passwort ändern:</h3>
		</div>
		<div class="panel-body">
			<form action="{% url "password_change" %}" method="post" accept-charset="utf-8">
				{{ form|crispy }}
				{% csrf_token %}
				<input type="hidden" name="next" value="{{ next }}">
				<br>
				<input class="btn btn-primary w100" type="submit" value="Anmelden">
			</form>
		</div>
	</div>
  </div>
</div>
{% endblock %}
