{% extends 'main/basis.html' %}
{% load staticfiles %}
{% load dioeTags %}
{% block sitecss %}<link href="{% static "db/css/diagramm.css" %}?{% settings_value "CACH_RANDOM" %}" rel="stylesheet">{% endblock %}
{% block title %} - Diagramm{% endblock %}
{% block ueberschrift %} - Diagramm{% endblock %}
{% block inhalt %}

{% if info %}<div class="alert alert-info">{{ info|safe }}</div>{% endif %}
{% if error %}<div class="alert alert-danger">{{ error|safe }}</div>{% endif %}

<div id="d3Diagramm">
{% if user.is_superuser %}<button type="button" id="diagrammSpeichern">Positionen<br>speichern</button>{% endif %}
<button type="button" id="diagrammZentrieren"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></button>
</div>

{% endblock %}
{% block sitejs %}
<script src="https://d3js.org/d3.v4.min.js"></script>
<script>
	var csrf='{{ csrf_token }}';
	var aurl = '{% url 'DB:diagramm' %}';
	var tabellen='{{ tabellen|safe }}';
</script>
<script src="{% static "db/js/diagramm.js" %}?{% settings_value "CACH_RANDOM" %}"></script>
{% endblock %}
