{% load dioeTags %}
<div class="form-group">
{% for aFeld in aData.felder %}
  {% with aformnr=aform.nr|stringformat:"i" ploopc=forloop.parentloop.counter|stringformat:"i" %}{% with afid="fid_"|add:aFeld.name|add:"_"|add:aformnr|add:"_"|add:ploopc %}
    {% if aFeld.hidden %}
      {% if editmode %}
        <input type="hidden" id="{{ afid }}" class="form-savedata" name="{{ aFeld.name }}" value="{% firstof aFeld.value_extras.pk|stringformat:"i" aFeld.value '0' %}"{% if aFeld.process %} data-process="{{ aFeld.process }}"{% endif %}>
      {% endif %}
    {% else %}
      {% if aFeld.einblendbar %}<div class="feld-einblendbar hidden">{% endif %}
      {% if aFeld.feldoptionen.edit_html and editmode %}
        {% render aFeld.feldoptionen.edit_html %}
      {% elif aFeld.feldoptionen.view_html and not editmode %}
        {% render aFeld.feldoptionen.view_html %}
      {% elif aFeld.feldoptionen.html %}
        {% render aFeld.feldoptionen.html %}
      {% elif aFeld.type == "BooleanField" and editmode and not aFeld.feldoptionen.fxtype.type == "select" %}
        <div class="controls {% if not aFeld.feldoptionen.label_col == 0 %}{% if not aFeld.feldoptionen.check_col or not editmode %}col-sm-offset-{% firstof aFeld.feldoptionen.label_col 3 %}{% endif %}{% endif %} col-sm-{% if aFeld.feldoptionen.check_col and editmode %}{{ aFeld.feldoptionen.check_col }}{% else %}{% firstof aFeld.feldoptionen.input_col 9 %}{% endif %}">
          <div id="div_{{ afid }}" class="checkbox">
            <label for="{{ afid }}" class=""> <input class="checkboxinput form-savedata" id="{{ afid }}" name="{{ aFeld.name }}" type="checkbox"{% if aFeld.value == True %} checked{% endif %}{% if aFeld.process %} data-process="{{ aFeld.process }}"{% endif %}>{% if aFeld.feldoptionen.label %}{{ aFeld.feldoptionen.label|safe }}{% else %}{{ aFeld.verbose_name }}{% endif %}</label>
          </div>
        </div>
      {% else %}
        {% if not aFeld.feldoptionen.short or aFeld.feldoptionen.edit_short and editmode %}
        <label for="{{ afid }}" class="control-label col-sm-{% firstof aFeld.feldoptionen.label_col 3 %}{% if aFeld.is_required %} requiredField{% endif %}" title="{{ aFeld.name }}, {{ aFeld.type }}">{% if aFeld.feldoptionen.label %}{{ aFeld.feldoptionen.label|safe }}{% else %}{{ aFeld.verbose_name }}{% endif %}{% if aFeld.is_required %}<span class="asteriskField">*</span>{% endif %}:</label>
        {% endif %}
        <div class="col-sm-{% firstof aFeld.feldoptionen.input_col 9 %}">
          {% if aFeld.choices or aFeld.feldoptionen.fxtype.type == "select" %}
            {% if editmode %}
              <select class="select form-control form-savedata" id="{{ afid }}" name="{{ aFeld.name }}"{% if aFeld.process %} data-process="{{ aFeld.process }}"{% endif %}>
              {% if aFeld.feldoptionen.fxtype.type == "select" %}
                {% for aOption in aFeld.feldoptionen.fxtype.select %}
                  <option value="{{ aOption.value }}"{% if aOption.value == aFeld.value %} selected="selected"{% endif %}>{{ aOption.title }}</option>
                {% endfor %}
              {% else %}
                <option value="">---------</option>
                {% for aChoice, aChoiceTitel in aFeld.choices %}
                <option value="{{ aChoice }}"{% if aChoice == aFeld.value %} selected="selected"{% endif %}>{{ aChoiceTitel }}</option>
                {% endfor %}
              {% endif %}
              </select>
            {% else %}
              <p class="form-control-static text-ellipsis">
              {% if aFeld.feldoptionen.fxtype.type == "select" %}
                {% for aOption in aFeld.feldoptionen.fxtype.select %}
                  {% if aOption.value == aFeld.value %}{{ aOption.title }}{% endif %}
                {% endfor %}
              {% else %}
                {% if aFeld.value == "None" or aFeld.value == None %}<span class="grey">Keine Eingabe vorhanden</span>{% else %}{% for aChoice, aChoiceTitel in aFeld.choices %}{% if aChoice == aFeld.value %}{{ aChoiceTitel }}{% endif %}{% endfor %}{% endif %}
              {% endif %}
              </p>
            {% endif %}
          {% elif aFeld.type == "IntegerField" or aFeld.type == "PositiveIntegerField" %}
            {% if editmode %}
              <input class="numberinput form-control form-savedata" id="{{ afid }}" {% if aFeld.type == "PositiveIntegerField" or aFeld.feldoptionen.fxtype.type == "prozent" %} min="0"{% endif %}{% if aFeld.feldoptionen.fxtype.type == "prozent" %} max="100"{% endif %}name="{{ aFeld.name }}" type="number" value="{% firstof aFeld.value|stringformat:"i" '' %}"{% if aFeld.process %} data-process="{{ aFeld.process }}"{% endif %}>
            {% else %}
              <p class="form-control-static text-ellipsis">{% if aFeld.value == "None" or aFeld.value == None %}<span class="grey">Keine Eingabe vorhanden</span>{% else %}{% firstof aFeld.value '0' %}{% if aFeld.feldoptionen.fxtype.type == "prozent" %} %{% endif %}{% endif %}</p>
            {% endif %}
          {% elif aFeld.type == "DateField" or aFeld.type == "DateTimeField" %}
            {% if editmode %}
              <input class="{% if aFeld.type == "DateField" %}dateinput{% else %}datetimeinput{% endif %} form-control form-savedata" id="{{ afid }}" name="{{ aFeld.name }}" type="text" value="{% if aFeld.type == "DateField" %}{% firstof aFeld.value|date:'d.m.Y' '' %}{% else %}{% firstof aFeld.value|date:'d.m.Y H:i' '' %}{% endif %}"{% if aFeld.process %} data-process="{{ aFeld.process }}"{% endif %}>
            {% else %}
              <p class="form-control-static text-ellipsis">{% if aFeld.value == "None" or not aFeld.value %}<span class="grey">Keine Eingabe vorhanden</span>{% else %}{{ aFeld.value }}{% endif %}</p>
            {% endif %}
          {% elif aFeld.type == "CharField" %}
            {% if editmode %}
              <input class="textinput textInput form-control form-savedata" id="{{ afid }}"{% if aFeld.max_length %} maxlength="{{ aFeld.max_length }}"{% endif %} name="{{ aFeld.name }}" type="text" value="{% firstof aFeld.value '' %}"{% if aFeld.process %} data-process="{{ aFeld.process }}"{% endif %}>
            {% else %}
              <p class="form-control-static text-ellipsis">{% if aFeld.value == "None" or not aFeld.value %}<span class="grey">Keine Eingabe vorhanden</span>{% else %}{{ aFeld.value }}{% endif %}</p>
            {% endif %}
          {% elif aFeld.type == "TextField" %}
            {% if editmode %}
              <textarea class="textarea form-control form-savedata" cols="40"rows="6"id="{{ afid }}"{% if aFeld.max_length %} maxlength="{{ aFeld.max_length }}"{% endif %} name="{{ aFeld.name }}" type="text"{% if aFeld.process %} data-process="{{ aFeld.process }}"{% endif %}>{% firstof aFeld.value '' %}</textarea>
            {% else %}
              <p class="form-control-static form-txtarea">{% if aFeld.value == "None" or not aFeld.value %}<span class="grey">Keine Eingabe vorhanden</span>{% else %}{{ aFeld.value|linebreaksbr }}{% endif %}</p>
            {% endif %}
          {% elif aFeld.type == "AutoField" %}
            <p class="form-control-static">
              {% firstof aFeld.value_extras.pk|stringformat:"i" aFeld.value '0' %}
              {% if editmode %}<input type="hidden" id="{{ afid }}" class="form-savedata" name="{{ aFeld.name }}" value="{% firstof aFeld.value_extras.pk|stringformat:"i" aFeld.value '0' %}"{% if aFeld.process %} data-process="{{ aFeld.process }}"{% endif %}>{% endif %}
            </p>
          {% elif aFeld.type == "ForeignKey" or aFeld.type == "OneToOneField" %}
            <p class="form-control-static form-foreignkey clearfix{% if editmode and aFeld.selectlist %} form-foreignkey-select{% endif %}">
              {% if editmode and aFeld.selectlist %}
                <select class="form-control select foreignkeyselect selw3btn2 form-savedata" id="{{ afid }}" name="{{ aFeld.name }}">
                  <option value="None">---------</option>
                  {% for seloption in aFeld.selectlist.list %}
                    <option value="{{ seloption.pk }}"{% if seloption.pk == aFeld.value_extras.pk %} selected="selected"{% endif %}>{{ seloption }}</option>
                  {% endfor %}
                </select>
              {% else %}
                {% if aFeld.value %}
                  <span title="PK: {{ aFeld.value_extras.pk|stringformat:"i" }}">{{ aFeld.value }}</span>
                {% elif editmode %}
                  <span class="grey">Bitte auswaehlen</span>
                {% else %}
                  <span class="grey">Keine Eingabe vorhanden</span>
                {% endif %}
              {% endif %}
              <i class="float-right">
                {% if editmode %}
                  <button class="seleobj" data-appname="{{ aFeld.typeoptions.app }}" data-tabname="{{ aFeld.typeoptions.name }}" data-obj-pk="{% firstof aFeld.value_extras.pk|stringformat:"i" '0' %}" title="Element in PopUp auswaehlen"><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span></button>
                  {% if aFeld.typeoptions.name == "tbl_orte" %}
                    <button class="seleobjosm" data-appname="{{ aFeld.typeoptions.app }}" data-tabname="{{ aFeld.typeoptions.name }}" data-obj-pk="{% firstof aFeld.value_extras.pk|stringformat:"i" '0' %}" title="Element in PopUp auswaehlen"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></button>
                  {% endif %}
                  {% if not aFeld.selectlist %}
                    <input type="hidden" id="{{ afid }}" class="form-savedata" name="{{ aFeld.name }}" value="{% firstof aFeld.value_extras.pk|stringformat:"i" '0' %}"{% if aFeld.process %} data-process="{{ aFeld.process }}"{% endif %}>
                  {% endif %}
                {% endif %}
                {% if not editmode or aFeld.typeoptions.name != "tbl_orte"  %}
                  <button class="viewobj{% if not aFeld.value %} hidden{% endif %}" data-appname="{{ aFeld.typeoptions.app }}" data-tabname="{{ aFeld.typeoptions.name }}" data-obj-pk="{% firstof aFeld.value_extras.pk|stringformat:"i" '0' %}" title="Element in PopUp anzeigen" tabindex="9999"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></button>
                {% endif %}
                <button class="openobj{% if not aFeld.value and not editmode %} hidden{% endif %}" data-appname="{{ aFeld.typeoptions.app }}" data-tabname="{{ aFeld.typeoptions.name }}" data-obj-pk="{% firstof aFeld.value_extras.pk|stringformat:"i" '0' %}"{% if aFeld.feldoptionen.foreignkeytarget %} data-foreignkeytarget="{{ aFeld.feldoptionen.foreignkeytarget }}"{% endif %} title="Element in neuen Fenster anzeigen" tabindex="9999"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></button>
              </i>
            </p>
          {% elif aFeld.type == "BooleanField" %}
            <p class="form-control-static text-ellipsis">{{ aFeld.value|yesno:'Ja,Nein,<span class="grey">Keine Eingabe vorhanden</span>' }}</p>
          {% elif aFeld.type == "DurationField" %}
            {% if editmode %}
              <input class="durationinput form-control form-savedata" id="{{ afid }}" name="{{ aFeld.name }}" type="text" value="{% if aFeld.value != "None" and aFeld.value != None %}{{ aFeld.value|formatDuration }}{% endif %}"{% if aFeld.process %} data-process="{{ aFeld.process }}"{% endif %} placeholder="00:00:00.000000">
            {% else %}
              <p class="form-control-static text-ellipsis">{% if aFeld.value == "None" or aFeld.value == None %}<span class="grey">Keine Eingabe vorhanden</span>{% else %}{{ aFeld.value|formatDuration }}{% endif %}</p>
            {% endif %}
          {% else %}
            <p class="form-control-static">
              {% firstof aFeld.value '<span class="grey">Keine Eingabe vorhanden</span>' %}
              <b>Feldtyp "{{ aFeld.type }}" muss erstellt werden!</b>
            </p>
          {% endif %}
        </div>
      {% endif %}
    {% if aFeld.einblendbar %}</div>{% endif %}
    {% endif %}
    {% if not aFeld.feldoptionen or aFeld.feldoptionen.nl %}
    <div class="clearfix form-nl"></div>
    {% endif %}
  {% endwith %}{% endwith %}
{% endfor %}
</div>
