{% extends 'main/basis.html' %}
{% load staticfiles %}{% load dioeTags %}
{% block title %} - {{ aktueberschrift }}{% endblock %}
{% block sitecss %}<link href="{% static "db/leaflet/leaflet.css" %}" rel="stylesheet">
	{% for val in addCSS %}
		{% if val.static %}<link href="{% static val.static %}?{% settings_value "CACH_RANDOM" %}" rel="stylesheet">
		{% elif val.href %}<link href="{{ val.href }}" rel="stylesheet">
		{% elif val.html %}{{ val.html }}{% endif %}
	{% endfor %}
{% endblock %}
{% block ueberschrift %} - {{ aktueberschrift }}{% endblock %}
{% block inhalt %}
<div class="row h100">
	<div class="col-md-3 h100 mh200px vscroller lmfa" data-lmfa-target="#lmfa-mtarget" data-lmfa-app="{{ appname|safe }}" data-lmfa-tabelle="{{ tabname|safe }}">
		{% if amodel_meta.kategorienListeFilter %}{%include "DB/lmfasfxf.html" %}{% endif %}
		{%include "DB/eliste.html" %}
	</div>
	<div class="col-md-9 h100 mh600px vscroller mcon">
		<div id="lmfa-mtarget">
			{% if acontent %}
			{{ acontent|safe }}
			{% else %}
			<h2 class="titel">{{ amodel_meta.verbose_name_plural }}</h2><br>
			{% if maskAdd and not 'noNewBtn' in aform.0.optionen %}<button class="newobj" data-appname="{{ appname|safe }}" data-tabname="{{ tabname|safe }}" data-obj-pk="0" title="Neues Element erstellen"><span class="glyphicon glyphicon-file" aria-hidden="true"></span></button>{% endif %}
			<button class="form-save hidden" title="Aktuelles Formular speichern"><span class="glyphicon glyphicon-save" aria-hidden="true"></span></button>
			{% if info %}<br><div class="alert alert-info alert-dismissible"><button type="button" class="close" data-dismiss="alert" aria-label="Schließen"><span aria-hidden="true">&times;</span></button>{{ info|safe }}</div>{% endif %}
			{% if error %}<br><div class="alert alert-danger alert-dismissible"><button type="button" class="close" data-dismiss="alert" aria-label="Schließen"><span aria-hidden="true">&times;</span></button>{{ error|safe }}</div>{% endif %}
			<br>
			<div class="content">
				<div class="form-horizontal form-view">
					Einträge: {{ amodel_count }}
				</div>
			</div>
			{% endif %}
		</div>
	</div>
</div>
<style>
	html,body,body>.container { height:100%; }

</style>
{% endblock %}
{% block sitejs %}
<script src="{% static "main/js/moment.min.js" %}"></script>
<script src="{% static "main/js/locales.min.js" %}"></script>
<script src="{% static "main/js/bootstrap-datetimepicker.min.js" %}"></script>
<script>
	var csrf='{{ csrf_token }}';
	var isstartseite = {% if request.path == startseiteurl %}true{% else %}false{% endif %};
	var sysstatusurl = "{% url 'sysstatus' %}";
	var audiodir = '{% settings_value "AUDIO_URL" %}';
	var viewurl='/db/view/';
	var asurl='{{ asurl }}';
	var aktueb='{{ aktueberschrift }}';
	var aappname='{{ appname|safe }}';
	var atabname='{{ tabname|safe }}';
</script>
<script src="{% static "db/leaflet/leaflet.js" %}"></script>
<script src="{% static "db/js/funktionen.js" %}?{% settings_value "CACH_RANDOM" %}"></script>
<script src="{% static "db/js/suchfeld.js" %}?{% settings_value "CACH_RANDOM" %}"></script>
<script src="{% static "db/js/form_scripts.js" %}?{% settings_value "CACH_RANDOM" %}"></script>
{% for val in addJS %}
	{% if val.static %}<script src="{% static val.static %}?{% settings_value "CACH_RANDOM" %}"></script>
	{% elif val.href %}<script src="{{ val.href }}"></script>
	{% elif val.html %}{{ val.html }}{% endif %}
{% endfor %}
{% endblock %}
