{% extends 'main/basis.html' %}
{% load staticfiles %}
{% block title %} - Übersicht aller Tabellen in der PersonenDB{% endblock %}
{% block ueberschrift %} - Übersicht aller Tabellen in der PersonenDB{% endblock %}
{% block inhalt %}

<h2>Übersicht aller Tabellen</h2>
{% if info %}<div class="alert alert-info">{{ info|safe }}</div>{% endif %}
{% if error %}<div class="alert alert-danger">{{ error|safe }}</div>{% endif %}
<br>

<div class="row">
{% for key, tabelle in tabellen %}
	<div class="col-md-3">
  	<p><b>{{ key }}</b></p>
		{% for eintrag in tabelle %}
			<a href="view/{{ key }}/{{ eintrag.model }}" class="btn btn-primary mib5 w100 fx-btn-badge">{{ eintrag.titel }} <span class="badge">{{ eintrag.count }}</span></a><br>
			{% endfor %}
	</div>
{% endfor %}
</div>



<script>
	var csrf='{{ csrf_token }}';
</script>
{% endblock %}
