{% extends 'main/basis.html' %}
{% load staticfiles %}
{% load dioeTags %}
{% block sitecss %}{% endblock %}
{% block title %} - Statistik{% endblock %}
{% block ueberschrift %} - Statistik{% endblock %}
{% block inhalt %}

<h2>Statistik</h2>
{% if info %}<div class="alert alert-info">{{ info|safe }}</div>{% endif %}
{% if error %}<div class="alert alert-danger">{{ error|safe }}</div>{% endif %}
<br>
<div class="form-inline">
	<div class="form-group">
		<label for="sel-statistik-type">Type</label>
		<select id="sel-statistik-type" name="type" class="form-control">
			<option value="overview" selected>Überblick</option>
			<option value="now">Aktuell</option>
		</select>
	</div>
</div>
<br>
<div>
	Stand von {{ statistikFirstLine.lt }} bis {{ statistikLastLine.lt }} ({{ statistikGrafik.c }} Werte)
	<h3>KorpusDB</h3>
	<div style="background:#eee;margin-bottom: 5px;">
		<svg width="{{ statistikGrafik.cw }}" height="100" style="display:block;border: 1px solid #999;background:#fff;">
		  <polyline points="{{ statistikGrafik.kcs.au }}" fill="none" stroke="#0d6efd" />
			<polyline points="{{ statistikGrafik.kcs.a }}" fill="none" stroke="#ffc107" />
			<polyline points="{{ statistikGrafik.kcs.at }}" fill="none" stroke="#198754" />
			<polyline points="{{ statistikGrafik.kcs.t }}" fill="none" stroke="#6c757d" />
		</svg>
	</div>
	<div class="row">
		<div class="col-12 col-md-6 col-lg-3">
			<b style="color: #0d6efd">Aufgaben:</b> {{ statistikLastLine.kc.au }} ({{ statistikLastLine.kc.au|subtract:statistikFirstLine.kc.au }})<br>
			<b style="color: #ffc107">Antworten:</b> {{ statistikLastLine.kc.a }} ({{ statistikLastLine.kc.a|subtract:statistikFirstLine.kc.a }})
		</div>
		<div class="col-12 col-md-6 col-lg-3">
			<b style="color: #198754">Antworten Tags:</b> {{ statistikLastLine.kc.at }} ({{ statistikLastLine.kc.at|subtract:statistikFirstLine.kc.at }})<br>
			<b style="color: #6c757d">Tags:</b> {{ statistikLastLine.kc.t }} ({{ statistikLastLine.kc.t|subtract:statistikFirstLine.kc.t }})
		</div>
	</div>
	<h3>AnnotationsDB</h3>
	<div style="background:#eee;margin-bottom: 5px;">
		<svg width="{{ statistikGrafik.cw }}" height="100" style="display:block;border: 1px solid #999;background:#fff;">
		  <polyline points="{{ statistikGrafik.acs.tr }}" fill="none" stroke="#0d6efd" />
			<polyline points="{{ statistikGrafik.acs.e }}" fill="none" stroke="#ffc107" />
			<polyline points="{{ statistikGrafik.acs.t }}" fill="none" stroke="#198754" />
			<polyline points="{{ statistikGrafik.acs.at }}" fill="none" stroke="#6c757d" />
			<polyline points="{{ statistikGrafik.acs.ats }}" fill="none" stroke="#7532f9" />
			<polyline points="{{ statistikGrafik.acs.aes }}" fill="none" stroke="#dc3545" />
		</svg>
	</div>
	<div class="row">
		<div class="col-12 col-md-6 col-lg-3">
			<b style="color: #0d6efd">Transcripte:</b> {{ statistikLastLine.ac.tr }} ({{ statistikLastLine.ac.tr|subtract:statistikFirstLine.ac.tr }})<br>
			<b style="color: #ffc107">Events:</b> {{ statistikLastLine.ac.e }} ({{ statistikLastLine.ac.e|subtract:statistikFirstLine.ac.e }})
		</div>
		<div class="col-12 col-md-6 col-lg-3">
			<b style="color: #198754">Token:</b> {{ statistikLastLine.ac.t }} ({{ statistikLastLine.ac.t|subtract:statistikFirstLine.ac.t }})<br>
			<b style="color: #6c757d">Token Antworten:</b> {{ statistikLastLine.kc.at }} ({{ statistikLastLine.ac.at|subtract:statistikFirstLine.ac.at }})
		</div>
		<div class="col-12 col-md-6 col-lg-3">
			<b style="color: #7532f9">Tokenset Antworten:</b> {{ statistikLastLine.ac.ats }} ({{ statistikLastLine.ac.ats|subtract:statistikFirstLine.ac.ats }})<br>
			<b style="color: #dc3545">Eventset Antworten:</b> {{ statistikLastLine.ac.aes }} ({{ statistikLastLine.ac.aes|subtract:statistikFirstLine.ac.aes }})
		</div>
</div>
<br>
<!-- <div>
	<table class="table table-bordered" style="width: auto; max-width: inherit; min-width: 100%; white-space: nowrap;">
		<thead>
			<tr>
				<th>#</th>
				<th>date</th>
				<th>id</th>
				<th>name</th>
				<th>created / updated</th>
				<th>events</th>
				<th>oldest / newest</th>
				<th>tokens</th>
				<th>oldest / newest</th>
			</tr>
		</thead>
		<tbody>
				<tr>
					<td>x</td>
					<td>x</td>
					<td>x</td>
					<td>x</td>
					<td>x</td>
					<td>x</td>
					<td>x</td>
					<td>x</td>
					<td>x</td>
				</tr>
		</tbody>
	</table>
</div> -->

{% endblock %}
{% block sitejs %}
<script>
	var csrf='{{ csrf_token }}';
	var isstartseite = {% if request.path == startseiteurl %}true{% else %}false{% endif %};
	var sysstatusurl = "{% url 'sysstatus' %}";
	var asurl='{{ asurl }}';
	(function ($) {
		jQuery(document).ready(function ($) {
			$(document).on('change', '#sel-statistik-type', function (e) {
				post(asurl, {csrfmiddlewaretoken: csrf, type: $('#sel-statistik-type').val()});
			});
		});
	})(jQuery);
</script>
{% endblock %}
