{% extends 'main/basis.html' %}
{% load staticfiles %}
{% block title %} - {{ amodel_meta.verbose_name_plural }}{% endblock %}
{% block ueberschrift %} - {{ amodel_meta.verbose_name_plural }}{% endblock %}
{% block inhalt %}
<div class="row h100">
	<div class="col-md-3 h100 mh200px vscroller lmfa" data-lmfa-target="#lmfa-mtarget" data-lmfa-app="{{ appname|safe }}" data-lmfa-tabelle="{{ tabname|safe }}">
		{%include "DB/eliste.html" %}
	</div>
	<div class="col-md-9 h100 mh600px vscroller mcon">
		<div id="lmfa-mtarget">
		{% if acontent %}
			{{ acontent|safe }}
		{% else %}
			<h2>{{ amodel_meta.verbose_name_plural }}</h2>
			<button class="newobj" data-appname="{{ appname|safe }}" data-tabname="{{ tabname|safe }}" data-obj-pk="0" title="Neues Element erstellen"><span class="glyphicon glyphicon-file" aria-hidden="true"></span></button>
			{% if info %}<br><div class="alert alert-info alert-dismissible"><button type="button" class="close" data-dismiss="alert" aria-label="Schließen"><span aria-hidden="true">&times;</span></button>{{ info|safe }}</div>{% endif %}
			{% if error %}<br><div class="alert alert-danger alert-dismissible"><button type="button" class="close" data-dismiss="alert" aria-label="Schließen"><span aria-hidden="true">&times;</span></button>{{ error|safe }}</div>{% endif %}
			<br>
			<div class="content">
				<div class="form-horizontal form-view">
					Eintraege: {{ amodel_count }}
				</div>
			</div>
		{% endif %}
		</div>
	</div>
</div>
<style>
	html,body,body>.container { height:100%; }

</style>
<script>
	var viewurl='/db/view/';
</script>
{% endblock %}
{% block sitejs %}
<script src="{% static "db/js/funktionen.js" %}"></script>
<script src="{% static "db/js/suchfeld.js" %}"></script>
<script src="{% static "db/js/scripts.js" %}"></script>
{% endblock %}
